html,
body {
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  position: relative;
}

.portfolio-header {
  position: relative;
  background-color: white;
  background-image: url(images/header-bg.jpg);
}

.mdl-layout__header.is-compact {
  max-height: 120px;
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mdl-layout__title {
  font-size: 30px;
  text-align: center;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
}

.is-compact .mdl-layout__title {
  height: 50px;
  font-size: 24px;
}

.portfolio-logo-row {
  min-height: 100px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

.portfolio-logo {
  background: url(marcin_imgs/Marcin_pencil_color.png) 50% no-repeat;
  background-size: contain;
  height: 150px;
  width: 300px;
  margin: auto auto 10px;
}

.is-compact .portfolio-logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.mdl-layout__tab-bar-container {
  background-color: rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 750px) {
  .mdl-layout__tab-bar-container {
    display: none;
  }
  .mdl-layout__title {
    font-size: 26px;
    padding-bottom: 10px;
    align-self: flex-end;
  }
  .is-compact .mdl-layout__title {
    font-size: 22px;
    padding-bottom: 0px;
    padding-left: 20px;
    align-self: center;
  }
  .portfolio-header {
    background-position: 10%;
  }
}

@media screen and (min-width: 751px) {
  .mdl-layout__drawer-button {
    display: none;
  }
}

.mdl-layout__tab-bar {
  background-color: transparent;
  max-width: 900px;
  margin: auto;
}

.portfolio-navigation-row .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .mdl-layout__tab {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 42px;
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.portfolio-header .mdl-layout__drawer-button {
  background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-full-bg {
  background: url(images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
  background: url(images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
  background: url(images/example-blog06.jpg) center / cover;
}

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-bg>.mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.mdl-card__media {
  background-color: transparent;
  margin: auto;
  overflow: hidden;
}

img.article-image {
  width: 100%;
  height: auto;
  background-color: transparent;
  background-size: cover;
  margin: auto;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-copy {
  max-width: 800px;
}

.no-padding {
  padding: 0;
}

.no-left-padding {
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event>.mdl-card__actions {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

footer {
  /*background-image: url(images/footer-background.png);*/
  background-size: cover;
}

.mdl-list__info {
  float: right;
  margin-right: 32px;
  margin: auto;
  padding: 5px;
}

.mdl-list__text {
  overflow: hidden;
  word-wrap: break-word;
  padding: 8px;
}

.mdl_list__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .04em;
  color: rgba(0, 0, 0, .74);
}

.mdl-list__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 3px 0;
}

.mdl-card__title {
  padding-left: 32px;
}

.mdl-card__supporting-text {
  margin: auto;
}

#contact .mdl-card__supporting-text {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: rgba(0, 0, 0, .54);
  text-decoration: underline;
  font-weight: normal;
}

.links a:hover {
  color: rgb(255, 215, 64);
  /*text-decoration: underline;*/
}


/*#current-work .mdl-cell {
  flex-direction: row;
}*/